body {
    font-size: 20px;
  }
  .photo {
    margin-bottom: 2rem;
  }
  nav {
    height: 8vh !important;
    font-size: 25;
    padding-top: 1vh;
  }
  nav a {
    color: #449D44 !important;
  }
  a {
    color: blue;
    font-weight: 900;
  }
  h2,h1 {
    color: black;
  }
  .category {
    color: black;
  }
  .open-project:hover {
    opacity: 0.5;
  }
  .img-thumbnail {
    cursor: pointer;
    border-radius: 6px;
  }
  .gal-item {
    float: left !important;
  }
  .img-thumbnail:hover {
    opacity: 0.9;
    background-color: #295168;
  }
  .link:hover {
    color: blue;
    font-weight: 900;
  }
  .footer {
    color: #449D44 !important;
  }
  .footer a {
    color: grey !important;
  }
  img {
    width: 100%;
  }
  .pull-right, .subscribe {
    color: white !important;
  }
  .menu {
    color: white !important;
  }
  .banner {
    height: 60vh;
    background-image: url('https://res.cloudinary.com/demo/image/upload/sample.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .name {
    padding-top: 8%;
    color: black;
    text-align: center;
  }
  .slide {
    width: auto;
  }
  #launcher {
    padding-top: 5%;
    text-align: center;
    align-items: center;
  }
  #launcher a {
    background-color: white;
    border:solid 8px black;
    color: black;
    padding: 10px 10px 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    margin: 4px 4px;
    cursor: pointer;
    border-radius: 8px;
  }
  #launcher a:hover {
    background-color: black;
    border:solid 8px #295168;
    color: white;
  }
  @media (max-width: 1000px) {
    nav {
      height: auto !important;
      padding-top: 1vh;
    }
    .menu {
      color: white !important;
    }
    .banner {
      height: auto;
    }
    
  }