<!-- <div class="container-fluid">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <a  class="btn btn-success menu" href="{% url 'homePage' %}">Home</a>
        <a  class="btn btn-success menu" href="{% url 'allPhotos' %}">Photos</a>
        <!-- Split button -->
        <div class="btn-group">
          <button type="button" class="btn btn-success">Locations</button>
          <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button> -->
          <ul class="dropdown-menu">
            <li><a href="{% url 'campus' %}" class="">Campus </a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{% url 'home' %}" class="">Sweet Home</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{% url 'nyeri' %}">Nyeri kenya</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{% url 'moringa' %}">Moringa School</a></li>
          </ul>
        </div>
        <!-- <ul class="nav navbar-nav navbar-right">
          <li>
            <form class="navbar-form" role="search" action="{% url 'searchPhotos' %}">

              <div class="input-group">
                <input type="text" width="90%" class="form-control" placeholder="Search hike,selfie,travel,operating,coding and food" name="photo">
                <div style="width:10% ;" class="input-group-btn">
                  <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
              </div>

            </form>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div> -->