{%extends 'base.html'%}
{% block content %}
{{ block.super}}
<div class="container-fluid">
  {% if photos%}
  <h2 class="text-center">Found {{ photos|length }} of searched term {{message}}</h2>
{% else %}
  <h2 class="text-center"> Found 0 photos for the search term {{message}}</h2>
{% endif %}
</div>
<div class="container-fluid">
  <div class="row photo">
    <div class="col-md-1"></div>
    <!-- displaying photos photos -->
    <div class="col-md-10">
      <!-- Looping through photos   -->
      {% for photos_item in photos %}
      <div class="col-md-3 col-sm-6">
        <!--Display photos photo images  -->
        <a data-toggle="modal" data-target="#{{photos_item.id}}"><img src="{{photos_item.image.url}}"
            class="img-thumbnail" alt="Image"></a>
      </div>

      {% empty %}
      <div class="row">
        <h2 class="text-center">There is No photos Items</h2>
      </div>
      {% endfor %}

    </div>
    <div class="col-md-1">
    </div>
  </div>
  {% for photos_item in photos %}
  <div class="modal fade" id="{{photos_item.id}}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" style="color: red ; font-size:50px; font-weight:900" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h2 class="desc">{{photos_item.title}}</h2>
          <h4>{{photos_item.description}}</h4>
          <h4>Location: <span class="category">{{photos_item.location.title}}</span></h4>
          <h4>Category: <span class="category">{{photos_item.category.title}}</span></h4>
          <h4>Posted on: <small class="category">{{photos_item.posted_at}}</small></h4>
          Photo URL:<input type="text" value="{{photos_item.image.url}}" class="btn btn-success form-control photoUrl">
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="">
              <img src="{{photos_item.image.url}}" class="img-thumbnail" alt="Image" onclick="window.open(this.src)">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}